<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context-3.0.xsd
                http://www.springframework.org/schema/aop
                http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

    <aop:aspectj-autoproxy/>

    <context:annotation-config/>
    <bean class="com.yeshao.InitHelloBean"/>



    <bean id="logging" class="com.yeshao.Logging"/>
    <bean id="student" class="com.yeshao.Student">
        <property name="name" value="小明"/>
        <property name="age" value="2"/>
    </bean>
    <!--<aop:config>-->
        <!--<aop:aspect id="log" ref="logging">-->
            <!--<aop:pointcut id="pointcut"-->
                          <!--expression="execution(* com.yeshao.Student.*(..))"/>-->
            <!--<aop:before pointcut-ref="pointcut" method="beforeAdvice"/>-->
            <!--<aop:after pointcut-ref="pointcut" method="afterAdvice"/>-->
            <!--<aop:after-returning pointcut-ref="pointcut"-->
                                 <!--returning="retVal"-->
                                 <!--method="afterReturningAdvice"/>-->
            <!--<aop:after-throwing pointcut-ref="pointcut"-->
                                <!--throwing="e"-->
                                <!--method="afterThrowingAdvice"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->

    <bean id="helloSpring" class="com.yeshao.HelloSpring" scope="prototype"
    init-method="init" destroy-method="destroy">
        <!--<property name="message" value="你好spring"/>-->
    </bean>


    <bean id="parent" class="com.yeshao.Parent">
        <property name="msgParent1" value="msgParent1"/>
        <property name="msgParent2" value="msgParent2"/>
    </bean>

    <bean id="child" class="com.yeshao.Child" parent="parent">
        <property name="msgChild1" value="msgChild1"/>
        <property name="msgChild2" value="msgChild2"/>
        <property name="msgChild3" value="msgChild3"/>
    </bean>

    <bean id="Inner" class="com.yeshao.Inner"
    init-method="preInit" destroy-method="preDestroy">
        <property name="msgInner" value="inner say OK"/>
    </bean>
    <!--<bean id="outer" class="com.yeshao.Outer"-->
    <!--p:inner-ref="inner">-->
    <!--</bean>-->
    <!--<bean id="outer" class="com.yeshao.Outer"-->
          <!--autowire="constructor">-->
    <!--</bean>-->
    <bean id="outer" class="com.yeshao.Outer">
    </bean>
    <!--<bean id="startHandle" class="com.yeshao.StartHandle">-->
    <!--</bean>-->
    <!--<bean id="stopHandle" class="com.yeshao.StopHandle">-->
    <!--</bean>-->
</beans>